* {
  box-sizing: border-box;
}

body {
	background-image: url("images/background.png");
	color: #404040;
	font-family:  "Tahoma", "Verdana", "sans-serif";
	padding:0; 
	margin:0;
}

h1 {
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    text-shadow: 3px 3px #999999;
    font-family: "Tahoma", "Verdana", "sans-serif";
}
h2 {
    font-weight: bold;
    font-family: "Tahoma", "Verdana", "sans-serif";
}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row {
     border: 4px solid gray;
	border-radius: 20px; 
	overflow: hidden;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#git {
    float: right;
}


